.card-image {
  width: '80%';
  /* margin-top: '5%'; */
  height: '30%';
  margin: 'auto';
  justify-content: 'center';
  /* border-radius: '10px'; */
}

.text-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limits the text to three lines, adjust as needed */
  -webkit-box-orient: vertical;
}

.slick-dots li button:before {
  color: white;  /* Change as needed for visibility */
  opacity: 0.75;
}

.slick-dots li.slick-active button:before {
  color: yellow; /* Change as needed for visibility */
}

@media (min-width: 1200px) {
    .card-class {
      max-width: 85%;
    }
}

.slick-slider .slick-list {
  margin: 0;
}

.slick-slider .slick-track {
  display: flex;
  align-items: center;
}

.slick-slider {
  margin-bottom: -9px;
}

.slick-dots {
  position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}