.carousel-container {
    position: relative;
  }
  
  .carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #c32222; /* Set the text color to match your design */
  }